
@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/Proxima-Nova-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/fonts/Proxima-Nova-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Sofia Pro Bold';
  src: url('assets/fonts/sofiapro-bold.woff') format('woff');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "Proxima Nova", "Arial", Tahoma, PingFangSC, "sans-serif";
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}